<h1>{{pageNumber}}</h1>
<p>This is the first page in the site.</p>
<p (click)='onClickButton()'>Supreme Court decisions affect our everyday lives, and the Constitution was designed to give voters a voice on who
  makes those decisions,”
  Biden tweeted Saturday, just after President Trump nominated Coney Barrett to fill the vacancy left by late Justice
  Ruth Bader Ginsburg.
  President Trump formally announced conservative federal Judge Amy Coney Barrett as his nominee to replace the late
  Supreme Court Justice Ruth Bader Ginsburg.

  Barrett, a former law professor at Notre Dame and Supreme Court law clerk for the late Justice Antonin Scalia, said
  she would be a justice in Scalia's mold.

  "His judicial philosophy is mine, too," Barrett said.

  At 48, she would have a prominent role in reshaping American society and culture for generations.</p>

<p>You know a real big problem? I like watching television, and have, 'The winner is.' You might not hear it for months,
  because this is a mess," he said, noting it could take a week or two to count mail-in ballots. "If we're waiting for
  one state, does that mean the whole nation — the whole world — is going to wait for one state?"

  The New York Times reported Friday that "senior leaders at the Pentagon, speaking on the condition of anonymity,
  acknowledged that they were talking among themselves about what to do if Mr. Trump, who will still be president from
  Election Day to Inauguration Day, invokes the Insurrection Act and tries to send troops into the streets, as he
  threatened to do during the protests against police brutality and systemic racism."

  It can be hard to know when Trump is being serious or just trying to get attention and troll the left and the news
  media. But voting is underway this election, and nothing should be surprising in these next five weeks — or beyond.
  At a Friday night rally, Trump mocked the media for raising alarms about his comments. "Then they say, 'He doesn't
  want to turn over government' — of course I do. But it's got to be a fair election," he said, before rattling off a
  litany of complaints about mail-in voting in Democratic states.</p>


<p>President Trump expanded a ban on exploratory drilling this week off the coasts of North Carolina and Virginia, his
  latest extension of an existing offshore drilling moratorium in the Gulf of Mexico.

  The memorandum, which Trump signed Friday, "prevents consideration of this area for any leasing for purposes of
  exploration, development, or production during the 10-year period beginning on July 1, 2022, and ending on June 30,
  2032."

  The memo makes clear that the ban on leasing does not apply if it's for "environmental conservation purposes,
  including the purposes of shore protection, beach nourishment and restoration, wetlands restoration, and habitat
  protection."

  It stands in contrast to the Trump administration's record of supporting oil and gas production and rolling back rules
  on greenhouse gas emissions.

  Trump announced the move at a campaign event in Virginia. But even as he announced the action, Trump immediately
  indicated a willingness to walk things back. "If you want to have oil rigs out there, just let me know — we'll take it
  off," he told the crowd. "I can understand that, too."</p>
